.recommend_modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1000;

    .recommend_modal {
        width: 100%;
        height: 70vh;
        background-color: var(--white);
        border-radius: 20px 20px 0 0;
        padding: 20px;
        animation: slideUp 0.6s ease;

        display: flex;
        flex-direction: column;

        .recommend_modal-countainer {
            flex-shrink: 0;
            margin-bottom: 8px;

            h2 {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 5px;
            }

            span {
                color: #62748E;
            }

            .recommend_modal-searchKeyword {
                color: var(--blue);
                font-weight: 700;
                font-size: 1.6rem;
            }
            
            .recommend_modal-intro {
                margin-top: 8px;
                background-color: #f5f5f5;
                height: 65px;
                border-radius: 10px;
                padding: 8px;
            }

            .recommend_modal-cursor {
                display: inline-block;
                margin-left: 1px;
                font-weight: 300;
                color: var(--black);
                animation: blink 0.7s step-end infinite;
            }
        }

        .item__card {
            flex: 1;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #d1d5db;
                border-radius: 4px;
            }
        }
    }

    @keyframes slideUp {
        from { transform: translateY(100%); }
        to { transform: translateY(0); }
    }

    @keyframes blink {
        0%, 100% { opacity: 1; }
        50%       { opacity: 0; }
    }
}