.header__content {
    display: flex;
    width: 100%;
    max-width: 1280px;
    height: 64px;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    .header-logo {
        width: 110px;
        height: 32px;
        flex-shrink: 0;
    }

    .header__content__userbtn {
        display: flex;
        gap: 16px;

        .userbtn-login {
            display: flex;
            width: 90px;
            height: 36px;
            padding: 8px 16px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            flex-shrink: 0;
            color: var(--black);
            background-color: var(--white);
            border-radius: 8px;
            cursor: pointer;
            transition: 0.5s;
        }

        .userbtn-login:hover {
            color: var(--blue);
            background-color: var(--boxshadow-blue);
        }


    }
}