#home {
    
    display: flex;
    padding: 24px 0 16px 0 ;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;

    .home__banner {
        max-width: 1200px;
        max-height: 220px;
        
        .banner {
            border-radius: 30px;
        }
    }

}

