#footer {
    padding: 42px 72px 0 72px;

    .footer_container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;


        .footer-title {
            h4 {
                color: var(--black400);
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 28px;
                letter-spacing: -0.439px;
            }

            p {
                color: var(--gray200);
            }

            .footer-contact {
                margin-top: 32px;
                align-items: end;
                color: #62748E;

                .footer-contact-fwBold {
                    font-weight: 700;
                }
            }

        }

        .footer-menu {
            white-space: nowrap;
            color: var(--gray200);

            ul {
                display: flex;
                gap: 18px;

                a {
                    transition: 0.2s;
                }

                a:hover {
                    color: var(--blue);
                }
            }
        }

    }

    @media (max-width: 1024px) {
        #footer {
            padding: 42px 32px 0 32px;
        }
    }

    @media (max-width: 768px) {
        .footer_container {
            display: flex;
            flex-direction: column;
            gap: 18px;
            text-align: center;

            .footer-title {
                h4 {
                    margin-bottom: 8px;
                }
            }

            .footer-menu {
                ul {

                    a {
                        white-space: nowrap;
                        max-width: 100%;
                    }

                }
            }

        }
    }

    @media (max-width: 480px) {
        .footer_container {
            .footer-menu {

                ul {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .website-information {
        width: 100%;
        text-align: center;
        color: var(--gray100);
    }

}