#home,
#searchPage {
    display: flex;
    padding: 24px 0 16px 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .home__banner {
        max-width: 1200px;
        margin-bottom: 24px;

        .banner {
            border-radius: 30px;
        }

    }

    #search {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 16px 8px;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;

        .search-bar {
            width: calc(100% - 200px);
            max-width: 600px;

            .search-Input {
                position: relative;
                display: flex;
                height: 48px;
                padding: 4px 96px 4px 48px;
                align-items: center;
                border-radius: 100px;
                border: 1px solid var(--white100);
                background: var(--white);
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);

                .searchinput {
                    width: 100%;
                    height: 45px;
                    font-size: 1.6rem;
                    border: none;
                    outline: none;
                    flex-grow: 1;
                }
            }

            .search-icon {
                display: block;
                position: absolute;
                top: 14px;
                left: 16px;
                width: 20px;
                height: 20px;
                opacity: 0.8;
            }

            .search-btn {
                position: absolute;
                display: flex;
                top: 10px;
                right: 16px;
                width: 28px;
                height: 28px;
                padding: 6px 6px 0 6px;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 100px;
                color: var(--white);
                background: var(--blue);
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
            }

            @media (max-width: 768px) {
                min-width: 100%;
            }

        }

        .recommand-btn {
            display: flex;
            height: 48px;
            padding: 11.5px 22px 12.5px 24px;
            justify-content: center;
            align-items: flex-end;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 24px;
            gap: 12px;
            border-radius: 100px;
            color: var(--white);
            background: linear-gradient(180deg, var(--blue) 0%, #4D94FF 100%);
            box-shadow: 0 4px 14px 0 rgba(0, 102, 255, 0.39);
            transition: 0.5s;
        }

        .recommand-btn:hover {
            transform: scale(1.03);
        }

        .search-guide {
            display: flex;
            align-items: flex-start;
            width: 90%;
            gap: 6px;
            background-color: #FFF5F5;
            border: 1.5px solid #F5A0A0;
            border-radius: 8px;
            padding: 10px;

            svg {
                color: #E53E3E;
                font-size: 16px;
                margin-top: 1px;
                flex-shrink: 0;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 2px;

                p {
                    margin: 0;

                    &:first-child {
                        color: #C53030;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }


    .home__platform {
        display: flex;
        width: 100%;
        padding: 8px 0 8px 16px;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 40px;
        max-width: 1200px;

        .platform_container {
            display: flex;
            overflow: auto;
            gap: 8px;
            align-items: flex-start;
            white-space: nowrap;

            li {

                a {
                    display: flex;
                    min-width: 70px;
                    height: 38px;
                    padding: 8px 16px;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: 100px;
                    font-weight: 700;
                    border: 1px solid var(--white100);
                    color: var(--black);
                    background: var(--white);
                    transition: 0.3s;
                }

                a:hover {
                    border: 1px solid var(--blue);
                    box-shadow: 0 1px 6px -1px var(--boxshadow-blue), 0 2px 4px -2px var(--boxshadow-blue);
                }

                .active {
                    color: var(--white);
                    background: var(--blue);
                    border: 1px solid var(--blue);
                    box-shadow: 0 3px 6px -1px var(--boxshadow-blue), 0 2px 4px -2px var(--boxshadow-blue);
                }

            }

        }

        .category_container,
        .sub_category_container {
            display: flex;
            overflow: auto;
            gap: 8px;
            align-items: flex-start;
            white-space: nowrap;

            li {


                button,
                a {
                    display: flex;
                    min-width: 40px;
                    height: 38px;
                    padding: 8px 16px;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: 100px;
                    font-weight: 700;
                    border: 1px solid var(--white100);
                    color: var(--black);
                    background: var(--white);
                    transition: 0.4s;
                }

                button:hover,
                a:hover {
                    border: 1px solid var(--black100);
                }

                .active {
                    color: var(--white);
                    background: var(--black100);
                    border: 1px solid var(--black100);
                }
            }
        }

    }

    .home_item_section,
    .search_item_section {
        background-color: var(--white200);
        width: 100vw;
        min-height: 50vh;


        .home__item,
        .search__item {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            min-height: 50vw;
            padding: 32px;
            margin: 0 auto;

            .sort-category-dropdown {
                position: relative;
                display: flex;
                justify-content: end;
            }

            .dropdown-button {
                display: flex;
                align-items: center;
                gap: 4px;
                background: none;
                border: none;
                font-size: 16px;
                font-weight: 600;
                color: var(--black200);
            }

            .dropdown-menu {
                position: absolute;
                top: 30px;
                right: 0;
                width: 200px;
                padding: 10px;
                background: var(--white);
                border-radius: 14px;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
                list-style: none;
                margin: 0;
                z-index: 1;
            }


            .home-dropdown__item {
                padding: 12px 20px;
                font-size: 15px;
                cursor: pointer;
                transition: 0.15s ease;
                border-radius: 10px;
                font-weight: 700;
            }

            .home-dropdown__item:hover,
            .home-dropdown__item.active {
                background: rgba(0, 0, 0, 0.05);
            }

            .empty-result {
                width: 100%;
                min-height: 200px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                text-align: center;

                h3 {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 12px;
                    color: #45556C;
                }

                p {
                    font-size: 1.5rem;
                    color: #888;
                }
            }

        }

    }
}



.item__card {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    padding: 20px 0;


    .course {
        width: 100%;

        @media (max-width: 635px) {
            max-width: 100%;
        }

        .course__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            border-radius: 18px;
            gap: 24px;
            background-color: var(--white);
            overflow: hidden;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);

            @media (max-width: 635px) {
                max-width: 100%;
            }

            .course-img-container {
                position: relative;

                img {
                    max-width: 100%;
                    height: 160px;
                    border-radius: 18px 18px 0px 0px;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .5s ease-in-out;
                    transition: .5s ease-in-out;
                }

                span {
                    display: inline-flex;
                    position: absolute;
                    padding: 0px 9px;
                    justify-content: center;
                    align-items: center;
                    top: 10px;
                    left: 10px;
                    border-radius: 8px;
                    border: 1px solid rgba(0, 0, 0, 0.00);
                    background: rgba(255, 255, 255, 0.90);
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
                    font-weight: bold;
                }

                button {
                    display: flex;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 32px;
                    height: 32px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    color: var(--gray100);
                    background: var(--white);
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
                }

                .course-wishes,
                .active {
                    transition: transform 0.15s ease;
                }

                .active {

                    svg {
                        color: var(--blue);
                    }
                }

                .course-wishes:active,
                .active:active {
                    transform: scale(0.85);
                }



            }

            .course-information-container {
                display: flex;
                padding: 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;


                .information-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;
                    flex-shrink: 0;
                    align-self: stretch;

                    h3 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        max-height: 2.9em;
                        padding: 0px 40px 30px 0;
                        align-items: center;
                        align-self: stretch;
                        color: var(--black400);
                        font-size: 1.8rem;
                        font-weight: 700;
                        line-height: 24.75px;
                        letter-spacing: -0.439px;
                    }

                    p {
                        color: var(--gray200);
                    }

                }

                .userReview-contanier {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    flex-shrink: 0;
                    align-self: stretch;


                    .rating-container {

                        span {
                            gap: 10px;
                        }

                        .rating {
                            display: inline-flex;
                            align-items: center;
                            gap: 5px;
                            font-family: Inter;
                            font-weight: 700;
                            font-style: Bold;
                            leading-trim: NONE;
                            line-height: 24px;
                            letter-spacing: -0.31px;

                            svg {
                                display: block;
                            }

                            .comments {
                                color: var(--gray100);
                                font-family: Inter;
                                font-weight: 400;
                                font-size: 1.2rem;
                                font-style: Regular;
                                leading-trim: NONE;
                                line-height: 20px;
                                letter-spacing: -0.15px;
                            }


                        }
                    }

                    .ㅣ {
                        width: 1px;
                        min-height: 12px;
                        background: var(--white100);
                    }

                    .wish {
                        span {
                            display: inline-flex;
                            align-items: center;
                            gap: 5px;
                            font-family: Inter;
                            font-weight: 700;
                            font-style: Bold;
                            leading-trim: NONE;
                            line-height: 24px;
                            letter-spacing: -0.31px;

                            svg {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .course__container:hover {
            transform: translateY(-10px);
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;

            .course-img-container {
                img {
                    -webkit-transform: scale(1.04);
                    transform: scale(1.04);

                }
            }

        }
    }

}