:root {
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";
  
    --black: #000;
    --black100: #1D293D; //catrgory bgc
    --black200: #45556C;
    --black300: #000;
    --black400: #000;
    --black500: #000;
    
    --white: #fff;
    --white100: #E2E8F0; //platform, category border
    --white200: #F5F7FA; //item 영역 bgc
    --white300: #fff;
    --white400: #fff;
    --white500: #fff;

    --blue: #0066FF;
    --boxshadow-blue: #BEDBFF;
    
    // 폰트 셋팅
    font-family: var(--mainfont-nanum), var(--mainfont-nexon);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.15px;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}